[Desktop Entry]
Type=Application
Name=XMonad
Exec=xmonad
NoDisplay=true
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-Autostart-Notify=true
